<h1>Welcome to HzChris Web Application!</h1>
<p>Here are some applications available. Please choose one which you intrested in.</p>
<ul>
  <li><%= link_to "Show your name", input_name_path %></li>
  <li><%= link_to "Find the biggest Prime", find_prime_path %></li>
</ul>
