<h1>New Event</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for @event, url: { controller: 'events', action: 'create' } do |f| %>
      
      <%= render partial: 'form', locals: { f: f } %>

      <%= f.submit "Create", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>