<h1>About</h1>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3 text-center">
      <h5>洪梓凱(HzChris)</h5>
      <div class="pagination-centered lead">
        <%= image_tag "hzchris.jpg", class: "img-circle", 
                                     style: "width: 140px; align: center" %>
      </div>
      <small>
        政治大學資訊管理研究所</br>
        National ChengChi University
        Department of Management Information Systems</br>
        Email: <a href="mailto:hzchirs@gmail.com">hzchris@gmail.com</a>
      </small>
    </div>
    <div class="span9">
      <p>
        Hi，我是梓凱，台中人，目前於政治大學就讀資管所。<br>
        興趣是打桌球、彈吉他、慢跑等等。<br>
        目前正在學習Ruby on Rails這個有趣的框架，如果你也有興趣，歡迎互相交流。
      </p>
      <ul>
        <li><a href="https://www.facebook.com/hzchirs" target="_blank">Facebook</a></li>
        <li><a href="http://hzchirs-blog.logdown.com/" target="_blank">Blog</a></li>
      </ul>
    </div>
  </div>
</div>